/* 
   #818cf8;
   #a7f3d0;
   #dbeafe;

   #4338ca
   #6b7280;
   #6ee7b7
*/
@font-face {
  font-family: "Inter-Light";
  src: url(/fonts/Inter-Light.ttf);
}
@font-face {
  font-family: "Inter-Medium";
  src: url(/fonts/Inter-Medium.ttf);
}
@font-face {
  font-family: "Inter-Regular";
  src: url(/fonts/Inter-Regular.ttf);
}
$texto-comun: #6b7280f3;
$color-texto-1: #4338ca;
$color-texto-2: #6b7280;
$color-texto-3: #6ee7b7;
$color-azul: #818cf8;
$color-verde: #a7f3d0;
$color-celeste: #dbeafe;
$fuente-light: "Inter-Light";
$fuente-Medium: "Inter-Medium";
$fuente-Regular: "Inter-Regular";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fuente-Regular;
  color: $texto-comun;
}
input {
  appearance: none;
  border: none;
  background: none;
  color: inherit;
}
img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
}

//CONTENIDO PRINCIPAL

.banner {
  width: 100%;
  height: 20px;
  background: linear-gradient(45deg, $color-celeste, $color-verde, $color-azul);
}

.tarjeta {
  margin: 100px auto 0px;
  width: 85%;
  max-width: 570px;
  border-radius: 15px;
  box-shadow: 1px 20px 20px rgba(0, 0, 0, 0.075);
  padding: 5px 20px;
  min-height: 600px;
}
.buscar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.178);
  i {
    font-size: 1.4rem;
    margin-right: 5px;
    color: $color-texto-1;
  }
}
#buscador {
  width: 100%;
  height: 40px;
  font-family: $fuente-Regular;
  font-size: 1.1rem;
  padding: 8px;
}
#buscador::placeholder {
  font-size: 1.1rem;

  text-transform: capitalize;
  color: $texto-comun;
}
.titulo-principal {
  width: 100%;
  text-transform: capitalize;
  font-size: 1.5rem;
  background: linear-gradient(45deg, $color-texto-1, 25%, $color-texto-2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: $fuente-Regular;
  padding: 15px 0px;
}
.descripcion-fecha {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-transform: capitalize;
  font-size: 1rem;
  .descripcion {
    min-width: 200px;
    font-family: $fuente-Medium;
    padding-bottom: 5px;
    color: #474e5c;
  }
  .fecha {
    padding-bottom: 5px;
  }
}
@media (min-width: 480px) {
  .descripcion-fecha {
    .descripcion {
      min-width: 80px;
    }
  }
}

.clima-principal {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  .numero-clima {
    min-width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1rem;
    padding: 15px 0px;
    margin-top: 10px;
  }
  .numero {
    font-size: clamp(3rem, 10vw, 4rem);
    background: linear-gradient(45deg, $color-texto-3, 25%, $color-texto-1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: $fuente-Regular;
  }
  .sensacion {
    margin-top: 5px;
    text-transform: capitalize;
    font-size: 0.85rem;
  }
  .img-clima {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      font-size: clamp(3.5rem, 13vw, 6rem);
      color: $color-texto-1;
    }
  }
}

.clima-secundario {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15px;
  .viento,
  .humedad {
    display: flex;
  }
  .viento {
    margin-right: 15px;
  }
  .img-clima-sec {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    color: $color-texto-1;
    font-size: 1.2rem;
  }
}
.divisor {
  display: block;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.212);
  margin: 30px 0px 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 1.5rem;
}
.dia-extendido {
  width: 100%;
  padding: 15px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  i {
    color: $color-texto-1;
    font-size: clamp(1.1rem, 3vw, 1.3rem);
  }
}
.dato-extendido {
  min-width: 40%;
  text-align: left;
}
.dato-2 {
  text-align: right;
}
.img-dia-extendido {
  width: 25px;
  height: 25px;
  margin: 0 auto;
}
